/* GLOBAL STYLES */

@font-face {
    font-family: 'tangerine';
    src: url("../fonts/Tangerine-Bold.ttf");
}

@font-face {
    font-family: 'roboto';
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/cleo-topper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.headerStyle {
    height: 100vh;
    display: flex;
    justify-content: right;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.heartPosition {
    padding-bottom: 22px;
    padding-left: 25px;
}

.headerStyle p:nth-child(2){
    color: rgb(236, 236, 236);
    font-size: large;
    text-decoration: underline;    
    text-decoration-color: rgb(216, 169, 31);
    padding-left: 20px;
}

.introductoryTextPosition {
    position: relative;
}

.introductoryText {
    position: absolute;
    bottom: 35vh;
    left: 10vw;
    color: rgb(236, 236, 236);
    font-size: 3.5rem;
    font-family: "roboto";
    width: 25vw;
    word-wrap: break-word;
}

.styleScrollText {
    font-family: "tangerine";
    color: #e7bc0e ;
    font-size: 2.1rem;
    position: absolute;
    bottom: 20vh;
    left: 17vh;
}

/* main first section */

main {
    background-color: rgba(0, 0, 0, 0.4);

}

.textAboutJourney {
    height: 100vh;
    position: relative;
}

.textAboutJourney p {
    color: #6bc1a3;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.8rem;
    font-family: "roboto";
}

.textJourneyStyle {
    position: absolute;
    left: 13vw;
    top: 25vh;
    width: 55vw;
}

.changeColor {
    color: #fff;
    background-color: #000;
}